kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ include "mantis.fullname" . }}-app
  labels:
    {{- include "mantis.labels" . | nindent 8 }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-install, pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": post-delete
spec:
  accessModes:
    - "ReadOnlyMany"
    - "ReadWriteOnce"
  resources:
    requests:
      storage: {{ .Values.persistence.size | quote }}
