apiVersion: batch/v1
kind: Job
metadata:
metadata:
  name: {{ include "mantis.fullname" . }}
  labels:
    {{- include "mantis.labels" . | nindent 4 }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": post-install, pre-upgrade
    "helm.sh/hook-weight": "10"
    "helm.sh/hook-delete-policy": hook-succeeded, pre-delete
spec:
  template:
    metadata:
      name: {{ include "mantis.fullname" . }}
      labels:
        {{- include "mantis.labels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        runAsUser: 0
        runAsGroup: 0
      initContainers:
        - name: {{ .Chart.Name }}-curl-app
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.curlImage.repository }}:{{ .Values.curlImage.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: mantis
              mountPath: /mantis
          env:
            - name: VERSION
              value: {{ .Chart.AppVersion  }}
          command: ["sh", "-c"]
          args:
          - |
            ls /mantis
            wget --no-check-certificate https://downloads.sourceforge.net/project/mantisbt/mantis-stable/${VERSION}/mantisbt-${VERSION}.zip
            ls
            unzip mantisbt-${VERSION}.zip
            ls
            rm -r /mantis/* || true
            mv mantisbt-${VERSION}/* /mantis

        - name: {{ .Chart.Name }}-git-addons
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.gitImage.repository }}:{{ .Values.gitImage.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: mantis
              mountPath: /mantis
          env:
            - name: VERSION
              value: {{ .Chart.AppVersion }}
          command: ["sh", "-c"]
          args:
            {{  range $key, $value := .Values.mantis.addons }}
              -  git clone -b {{ $value.tag }} {{ $value.url }}  /mantis/plugins/{{ $value.name }}
            {{ end }}
              - exit 0
      containers:
        - name: {{ .Chart.Name }}-busybox-chown
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.bbImage.repository }}:{{ .Values.bbImage.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: mantis
              mountPath: /mantis
          env:
            - name: VERSION
              value: {{ .Chart.AppVersion }}
          command: ['sh', '-c', 'chown -R 33:33 /mantis && chmod 750 /mantis && echo done']
      volumes:
        - name: mantis
          persistentVolumeClaim:
            claimName: {{ include "mantis.fullname" . }}-app
